<html>
	<head>
		<title>Checksums</title>
	</head>
	<body>
		<p>These are MD5 checksums for the compiled release versions of a few of my projects. Built from the latest git commit.</p>
		<p>raven<br>
		{{ raven }}</p>
		<p>ravend<br>
		{{ ravend }}
		</p><p>graven <br>
	{{ graven }}</p>
	<p>eidolon <br>
	{{ eidolon }}</p>
	<p>wyvern<br>
	{{ wyvern }}</p>
</body>
</html>
